body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   
}

.col-3-follow {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.cardfollow {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardfollow h4 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.top-follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.userDetails {
    display: flex;
    align-items: center;
}

.profilepic-follow {
    margin-right: 20px;
    margin-left: 40px;
}

.profile_img .image-follow .imageF {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #007bff;
}

h3 {
    font-size: 16px;
    margin: 0;
    color: #333;
}

h3 span {
    font-size: 12px;
    color: #777;
}

.follow-Follow {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px 40px;
    border-radius: 4px;
    font-size: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.follow-Follow-Sent{
    text-decoration: none;
    background-color: #32b31b;
    color: #fff;
    padding: 8px 40px;
    border-radius: 4px;
    font-size: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
    
    

}
.follow:hover {
    background-color: #0056b3;
}

.cover {
    object-fit: cover;
}
.header-profile-follow{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
    font-style: unset;
}








/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

.col-3-follow {
    max-width: 300px;
    margin: 0 auto;
}

.cardfollow {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-profile-follow {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.userDetails {
    display: flex;
    align-items: center;
}

.profilepic-follow {
    margin-right: 10px;
}

.profile_img-follow .image-follow img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #007bff;
}

h3 {
    font-size: 16px;
    margin: 0;
    color: #333;
}

h3 span {
    font-size: 12px;
    color: #777;
}

.follow-Follow {
    text-decoration: none;
    background-color: #ff4b4b;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.follow-Follow:hover {
    background-color: #ff1a1a;
}

.image-follow {
    object-fit: cover;
}
 */
