 .inBox-container {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 350px;
    margin: 0;
}
.inbox-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 18px;
    width: 700px;
  
}
.sender-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e4e6eb;
}
.sender-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.sender-name {
    font-weight: bold;
    font-size: 1.1em;
}
.sender-text{
    font-weight: bold;
    font-size: 1.19em;
}
.post-data {
    margin-top: 12px;
}
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
    
}
.post-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}
.post-username {
    font-weight: bold;
}
.post-content {
    margin-bottom: 12px;
}
.timestamp {
    font-size: 0.8em;
    color: #65676B;
    margin-top: 4px;
}
.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #e4e6eb;
}
.action-button {
    background: none;
    border: none;
    color: #65676B;
    font-size: 0.9em;
    cursor: pointer;
} 
.inbox-container {
    font-family: 'Arial, sans-serif';
    font-size: 24px;
    color: #ffffff;
    background-color: #4A90E2;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px auto; 
    width: 500px;
    transition: background-color 0.3s, transform 0.3s;
}




.post-container {
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto; /* Center the container horizontally */
}

.sender-info, .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
}

.post-content {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
