.widgetLg {
  padding-top: 30px;
  width: 100%;
  display: flex;

  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.widgetLgTitle {
  font-size: 22px;
  padding-left: 200px;
  font-weight: 600;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 15px;
  padding-left: 130px;
}

.widgetLgTh {
  text-align: justify;
  font-weight: 600;
  font-size: 20px;
  width: 300px;
  padding-left: 10px;
}

.widgetLgUser {
  width: 100px;
  display: flex;
  justify-content: start;
  font-weight: 600;
}

.widgetLgImg {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgRemove {
  font-weight: 300;
  width: 175px;
  padding-left: 50px;
  border-radius: 20px;
  cursor: pointer;

  border: solid 2px black;
}
.widgetLgPost {
  font-weight: 300;
  width: 175px;
  padding-left: 75px;
  border-radius: 20px;

  border: solid 2px black;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Approved {
  background-color: #e5faf2;
  color: #3bb077;
}
.widgetLgButton.Declined {
  background-color: #fff0f1;
  color: #d95087;
}
.widgetLgButton.Pending {
  background-color: #ebf1fe;
  color: #2a7ade;
}
