/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    
    margin: 90px auto;
    background-color: #fff;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-header {
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.username {
    font-size: 28px;
    
    margin-bottom: 35px;
    color: #333;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat {
    text-align: center;
}

.number {
    font-weight: bold;
    font-size: 25px;
    display: block;
    color: #333;
}

.label {
    color: #8e8e8e;
    font-size: 15.3px;
}

.tab-menu {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

.tab-link {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 175px;
    transition: all 0.3s ease;
}

.tab-link:hover {
    background-color: #fafafa;
}

.tab-link.active {
    background-color: #fafafa;
    border-bottom: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dbdbdb;
}

.user:last-child {
    border-bottom: none;
}

.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.user-pic:hover {
    transform: scale(1.1);
}

.user-name {
    font-size: 16px;
    flex: 1;
    color: #333;
}

.follow-btn,
.unfollow-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.follow-btn {
    background-color: #3897f0;
    color: #fff;
}

.follow-btn:hover {
    background-color: #287dc1;
}

.unfollow-btn {
    background-color: #efefef;
    color: #262626;
}

.unfollow-btn:hover {
    background-color: #e74242;
}
