.container-sidebar {
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  cursor: pointer;
  position:fixed;
  top: 80px;
  left: 1px;
  z-index: 10;

  color: rgb(14, 1, 1);
  padding: 10px;
  border-radius: 5px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}



.nav-symbol {
 
  font-size: 30px;
  cursor: pointer;
  position:fixed;
  top: 80px;
  left: 1px;
  z-index: 10;
  background-color: #e1aeae;
  color: rgb(14, 1, 1);
  padding: 10px;
  border-radius: 5px;
}

.navbar {
  width: 0;
  padding-top: 80px;
  background-color: #f7c8c8;
  position:fixed;
  height: 100%;
  top: 75px;
  left: 0;
  border-top-right-radius: 30px;
  overflow: hidden;
  transition: width 0.3s;
}

.nav-item {
  display: block;
  color: rgb(45, 20, 20);
  font-size:18px;
  padding: 16px;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s, padding-left 0.3s;
}

.nav-item:hover {
  background-color: #ef6868;
  padding-left: 30px;
}

.container-sidebar:hover + .navbar,
.navbar:hover {
  width: 230px;
}



.container-sidebar:hover + .navbar + .content,
.navbar:hover + .content {
  margin-left: 230px;
}



.post-icon{
  height: 19px;
  width: 20px;
 

}
